footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70px;
  margin-top: 19rem;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  list-style-type: none;
  box-shadow: 0 0 10px gray;
}
.footer-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  transition: 0.9s;
  background-color: #84b026;
  padding: 17px;
}
.footer-navigation__link--active {
  background-color: #173540;
}
.icon {
  height: 35px;
}
.footer-navigation__link:hover {
  background-color: #173540;
}
